.add-entity-container {
  background: #fff;
  padding: 20px;
  margin: 20px auto;
  border-radius: 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  width: 300px;
  text-align: center;
}

.add-entity-container h2 {
  color: #ff4500;
}

.add-entity-container input,
.add-entity-container textarea {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.add-entity-container button {
  background-color: #ff4500;
  color: white;
  padding: 10px;
  border: none;
  cursor: pointer;
  font-weight: bold;
  border-radius: 5px;
  width: 100%;
}
