
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: grey; 
  display: flex;
  justify-content: center; 
  align-items: center; 
  min-height: 100vh; 
  margin: 0;
}

.landingpage {
  text-align: center;
  background-color: brown; 
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); 
  width: 80%; 
  max-width: 600px; 
}

.landingpage h1 {
  color: #ff6347; 
  font-size: 3em;
  margin-bottom: 20px;
}

.landingpage h2 {
  color: greenyellow; 
  font-size: 1.2em;
  line-height: 1.6;
}

.landingpage button {
  background-color: #ff6347;
  color: white;
  padding: 15px 30px;
  font-size: 1.2em;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.landingpage button:hover {
  background-color: #e94e77;
}

.landingpage img {
  width: 120px;
  margin-top: 20px;
}
